<Files "config.json">
Order Allow,Deny
Deny from all
</Files>

<Files "*.sqlite">
Order Allow,Deny
Deny from all
</Files>

RewriteEngine On
RewriteRule ^allclubs\.json$ controllers/allclubs.php [L]
RewriteRule ^$ controllers/root.php [L]
RewriteRule ^request_token$ controllers/request_token.php [L]
RewriteRule ^login$ controllers/login.php [L]
RewriteRule ^season/$ controllers/season.php [L]
RewriteRule ^admin/$ controllers/admin.php [L]


