<Files "config.json">
Order Allow,Deny
Deny from all
</Files>

<Files "*.sqlite">
Order Allow,Deny
Deny from all
</Files>

RewriteEngine On
RewriteRule ^$ controllers/root.php [L]
RewriteRule ^admin/$ controllers/admin.php [L]
RewriteRule ^club/$ controllers/club_list.php [L]
RewriteRule ^club/([-a-z0-9]+)/$ controllers/club.php?id=$1 [L]
RewriteRule ^club/import$ controllers/club_import.php [L]
RewriteRule ^d/([0-9]+)/$ controllers/discipline.php?id=$1 [L]
RewriteRule ^d/([0-9]+)/entry_add$ controllers/entry_add.php?discipline_id=$1 [L]
RewriteRule ^d/([0-9]+)/entry_add_dialog$ controllers/entry_add_dialog.php?discipline_id=$1 [L]
RewriteRule ^d/([0-9]+)/player_search$ controllers/discipline_player_search.php?discipline_id=$1 [L,QSA]
RewriteRule ^login$ controllers/login.php [L]
RewriteRule ^request_token$ controllers/request_token.php [L]
RewriteRule ^season/$ controllers/season_list.php [L]
RewriteRule ^season/([0-9]+)/$ controllers/season.php?id=$1 [L]
RewriteRule ^season/([0-9]+)/(hide|show)$ controllers/season_actions.php?id=$1&action=$2 [L]
RewriteRule ^season/([0-9]+)/players$ controllers/season_player_list.php?season_id=$1 [L]
RewriteRule ^season/create$ controllers/season_create.php [L]
RewriteRule ^season/import$ controllers/season_import.php [L]
RewriteRule ^t/([0-9]+)/$ controllers/tournament.php?id=$1 [L]
RewriteRule ^t/([0-9]+)/dialog_discipline_create$ controllers/tournament_dialog_discipline_create.php?tournament_id=$1 [L]
RewriteRule ^t/([0-9]+)/discipline_create$ controllers/discipline_create.php?tournament_id=$1 [L]
RewriteRule ^t/([0-9]+)/edit$ controllers/tournament_edit.php?id=$1 [L]
RewriteRule ^t/create$ controllers/tournament_create.php [L]


