<Files "config.json">
Order Allow,Deny
Deny from all
</Files>

<Files "*.sqlite">
Order Allow,Deny
Deny from all
</Files>

RewriteEngine On
RewriteRule ^$ controllers/root.php [L]
RewriteRule ^admin/$ controllers/admin.php [L]
RewriteRule ^club/$ controllers/club_list.php [L]
RewriteRule ^club/([-a-z0-9]+)/$ controllers/club.php?id=$1 [L]
RewriteRule ^club/create$ controllers/club_create.php [L]
RewriteRule ^club/import$ controllers/club_import.php [L]
RewriteRule ^d/([0-9]+)/$ controllers/discipline.php?id=$1 [L]
RewriteRule ^d/([0-9]+)/entry_add$ controllers/entry_add.php?discipline_id=$1 [L]
RewriteRule ^d/([0-9]+)/entry_add_dialog$ controllers/entry_add_dialog.php?discipline_id=$1 [L]
RewriteRule ^d/([0-9]+)/player_search$ controllers/discipline_player_search.php?discipline_id=$1 [L,QSA]
RewriteRule ^d/([0-9]+)/update$ controllers/discipline_update.php?discipline_id=$1 [L,QSA]
RewriteRule ^entry/([0-9]+)/delete$ controllers/entry_delete.php?entry_id=$1 [L]
RewriteRule ^entry/([0-9]+)/edit$ controllers/entry_edit.php?entry_id=$1 [L]
RewriteRule ^entry/([0-9]+)/edit_dialog$ controllers/entry_edit_dialog.php?entry_id=$1 [L]
RewriteRule ^login$ controllers/login.php [L]
RewriteRule ^request_token$ controllers/request_token.php [L]
RewriteRule ^season/$ controllers/season_list.php [L]
RewriteRule ^season/([0-9]+)/$ controllers/season.php?id=$1 [L]
RewriteRule ^season/([0-9]+)/(hide|show)$ controllers/season_actions.php?id=$1&action=$2 [L]
RewriteRule ^season/([0-9]+)/club/$ controllers/season_club_list.php?season_id=$1 [L]
RewriteRule ^season/([0-9]+)/club/([-a-z0-9]+)/$ controllers/season_club_player_list.php?season_id=$1&club_id=$2 [L]
RewriteRule ^season/([0-9]+)/club/([-a-z0-9]+)/player_create$ controllers/player_create.php?season_id=$1&club_id=$2 [L]
RewriteRule ^season/([0-9]+)/player/$ controllers/season_player_list.php?season_id=$1 [L]
RewriteRule ^season/create$ controllers/season_create.php [L]
RewriteRule ^season/import$ controllers/season_import.php [L]
RewriteRule ^t/([0-9]+)/$ controllers/tournament.php?id=$1 [L]
RewriteRule ^t/([0-9]+)/dialog_discipline_create$ controllers/tournament_dialog_discipline_create.php?tournament_id=$1 [L]
RewriteRule ^t/([0-9]+)/disciplines$ controllers/disciplines.php?tournament_id=$1 [L]
RewriteRule ^t/([0-9]+)/discipline_create$ controllers/discipline_create.php?tournament_id=$1 [L]
RewriteRule ^t/([0-9]+)/publication_create_dialog$ controllers/publication_create_dialog.php?tournament_id=$1 [L,QSA]
RewriteRule ^t/([0-9]+)/edit$ controllers/tournament_edit.php?id=$1 [L]
RewriteRule ^t/([0-9]+)/entries$ controllers/tournament_entries.php?id=$1 [L,QSA]
RewriteRule ^t/([0-9]+)/dialog_import$ controllers/entry_dialog_import.php?tournament_id=$1 [L,QSA]
RewriteRule ^t/([0-9]+)/import$ controllers/entry_import.php?tournament_id=$1 [L,QSA]
RewriteRule ^t/([0-9]+)/lookup_leagues$ controllers/lookup_leagues.php?tournament_id=$1 [L,QSA]
RewriteRule ^t/create$ controllers/tournament_create.php [L]


