html, body {
	margin: 0; padding: 0;
	font-size: 18px;}

nav {
	padding: 20px 0 10px 10px;
	font-family: sans-serif;
}

.button {
	display: inline-block;
	padding: 5px;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
.button img {
	height: 1em;
	width: 1em;
	padding-right: 3px;
}