<div class="floating">
<h2><a href="{{root_path}}season/">Ligen</a></h2>

{{>admin_seasons}}

</div>

<div class="floating">
<h2>Turniere</h2>

</div>

<div class="floating">
<h2><a href="{{root_path}}club/">Vereine</a></h2>

{{>admin_clubs}}
</div>

