{{#discipline}}
{{>entry_table}}

<form method="get" action="{{root_path}}d/{{id}}/entry_add_dialog">
<button id="entry_add"><img src="{{icon_path}}add-player.svg" title="Neue Meldung" />Meldung</button>
</form>

{{/discipline}}