<label>
<span class="labeltext">
{{#discipline}}
{{#male_player}}
Spieler:
{{/male_player}}
{{^male_player}}
Spielerin:
{{/male_player}}
</span>
{{#player_input_spec}}
{{>player_selector}}
{{/player_input_spec}}
</label>

{{#with_partner}}
<label>
<span class="labeltext">
{{#male_partner}}
Partner:
{{/male_partner}}
{{^male_partner}}
Partnerin:
{{/male_partner}}
</span>
{{#partner_input_spec}}
{{>player_selector}}
{{/partner_input_spec}}
</label>
{{/with_partner}}

{{/discipline}}

<label>
<span class="labeltext">
E-Mail:
</span>
<input type="email" name="email" size="30" autocomplete="off" value="{{#entry}}{{email}}{{/entry}}" />
</label>

<label>
<span class="labeltext">
Seeding:
</span>
<input type="text" name="seeding" size="1" autocomplete="off" value="{{#entry}}{{seeding}}{{/entry}}" />
</label>

<label>
<span class="labeltext">
Memo:
</span>
<textarea name="memo" rows="2" cols="40">{{#entry}}{{memo}}{{/entry}}</textarea>
</label>