<table class="player_table">
<thead><tr>
<th class="player_name">Name</th>
<th class="player_club">Verein</th>
<th class="player_textid">Id</th>
{{#with_partner}}
<th class="player_name">{{#male_partner}}Partner{{/male_partner}}{{^male_partner}}Partnerin{{/male_partner}}</th>
<th class="player_club">Verein</th>
<th class="player_textid">Id</th>
{{/with_partner}}
</tr></thead>
<tbody>
{{#entries}}
<tr>
{{#player}}
<td class="player_name">{{name}}</td>
<td class="player_club">{{club_name}}</td>
<td class="player_textid">{{textid}}</td>
{{/player}}

{{#with_partner}}
{{#partner}}
<td class="player_name">{{name}}</td>
<td class="player_club">{{club_name}}</td>
<td class="player_textid">{{textid}}</td>
{{/partner}}
{{^partner}}
<td colspan="3" class="without_partner">Freimeldung</td>
{{/partner}}
{{/with_partner}}

</tr>
{{/entries}}
</tbody>
</table>
