<form method="post" action="{{root_path}}d/{{#discipline}}{{id}}{{/discipline}}/entry_add" class="entry_add dataentry_form">
{{{csrf_field}}}

<label>
<span class="labeltext">
{{#discipline}}
{{#male_player}}
Spieler:
{{/male_player}}
{{^male_player}}
Spielerin:
{{/male_player}}
</span>
{{#player_input_spec}}
{{>player_selector}}
{{/player_input_spec}}
</label>

{{#with_partner}}
<label>
<span class="labeltext">
{{#male_partner}}
Partner:
{{/male_partner}}
{{^male_partner}}
Partnerin:
{{/male_partner}}
</span>
{{#partner_input_spec}}
{{>player_selector}}
{{/partner_input_spec}}
</label>
{{/with_partner}}

{{/discipline}}

<button>Meldung erfassen</button>
</form>