<form method="post" action="{{root_path}}d/{{#discipline}}{{id}}{{/discipline}}/entry_add" class="entry_form dataentry_form">
{{{csrf_field}}}

{{>entry_form}}

<button>Meldung erfassen</button>
</form>