<table class="player_table">
<tbody>
{{#entries}}
<tr>
<td class="entry_numstr">{{numstr}}</td>
{{#player}}
<td class="player_name" {{#is_official_id}}title="{{textid}}"{{/is_official_id}}>{{natural_name}}</td>
<td class="player_club{{#player_club_is_special}} player_club_special{{/player_club_is_special}}">{{#player_club}}{{name}}{{/player_club}}</td>
{{/player}}

{{#with_partner}}
{{#partner}}
<td class="player_name" {{#is_official_id}}title="{{textid}}"{{/is_official_id}}>{{natural_name}}</td>
<td class="player_club{{#partner_club_is_special}} player_club_special{{/partner_club_is_special}}">{{#partner_club}}{{name}}{{/partner_club}}</td>
{{/partner}}
{{^partner}}
<td colspan="2" class="without_partner">Freimeldung</td>
{{/partner}}
{{/with_partner}}

<th>
{{#is_admin}}
<form method="post" action="{{root_path}}entry/{{id}}/edit" class="inline-form">
{{{csrf_field}}}
<button class="rare_button"><img src="{{icon_path}}edit.svg" title="Meldung bearbeiten" /></button>
</form>

<form method="post" action="{{root_path}}entry/{{id}}/delete" class="inline-form">
{{{csrf_field}}}
<button class="rare_button"><img src="{{icon_path}}delete.svg" title="Meldung löschen" /></button>
</form>

<a href="mailto:{{email}}?subject={{#tournament}}{{name}}{{/tournament}}" class="button rare_button">
<img src="{{icon_path}}email.svg" title="E-Mail verschicken" />
</a>

</form>

{{/is_admin}}
</th>
</tr>
{{/entries}}
</tbody>
</table>
