{{#discipline}}
{{#entry}}

{{#is_team}}
<label><span class="labeltext">Team-Name:</span><input name="entry_name" value="{{entry_name}}" autofocus="autofocus" /></label>
{{/is_team}}

{{#combined_list}}
<label>
<span class="labeltext">

{{#spec}}
{{#spec_male}}
Spieler:
{{/spec_male}}
{{#spec_female}}
Spielerin:
{{/spec_female}}
{{#spec_any}}
Spieler/in:
{{/spec_any}}
</span>
{{/spec}}

{{>player_selector}}

</label>

{{/combined_list}}


<label>
<span class="labeltext">
E-Mail:
</span>
<input type="email" name="email" size="30" autocomplete="off" value="{{email}}" />
</label>

<label>
<span class="labeltext">
Seeding:
</span>
<input type="text" name="seeding" size="1" autocomplete="off" value="{{seeding}}" />
</label>

<label>
<span class="labeltext">
Memo:
</span>
<textarea name="memo" rows="2" cols="40">{{memo}}</textarea>
</label>

{{/entry}}
{{/discipline}}