<div class="dialog_container">

<form class="dialog login" method="post" action="{{{rootpath}}}request_token">
{{{csrf_field}}}
<input type="text" name="user" class="user" size="50" required="required" />

<input type="submit" value="Einloggen" />
</form>

</div>
