<span class="player_selector_container">
<input
	type="text" name="{{name}}" class="player_selector"
	size="50"
	{{#autofocus}}autofocus="autofocus"{{/autofocus}}
	{{#required}}required="required"{{/required}}
	data-player_selector-discipline="{{#discipline}}{{id}}{{/discipline}}"
	data-player_selector-gender="{{gender}}"
/>
<input
	type="text" name="{{name}}_club" class="club club_selector_autoset"
	tabindex="-1"
	{{#required}}required="required"{{/required}}
	placehold="Verein"
/>
</span>