<form action="/t/{{#tournament}}{{id}}{{/tournament}}/publication_create" method="post" class="dataentry_form">
{{{csrf_field}}}
<label><span class="labeltext">Type</span> <select name="type"><option value="sftp">sftp</option></select></label>

<!-- sftp-specific configuration -->
<label><span class="labeltext"></span></label>

</form>

