<!DOCTYPE html>
<html>
<head>
<meta encoding="utf-8" />
<title>{{title}}- Badminton-Turnier-Manager</title>
<link rel="stylesheet" type="text/css" href="static/bmtmgr.css">
</head>
<body>

{{{content}}}

<script src="libs/mousetrap.min.js"></script>
<script src="libs/jquery.min.js"></script>
<script src="static/bmtmgr.min.js"></script>

</body>
</html>
