<p>
Insgesamt {{player_count}} Spieler/innen:
</p>

<table class="player_table">
<thead>
<tr>
<th class="player_textid">Spieler-Id</th>
<th class="player_name">Name</th>
{{^club}}
<td class="player_club">Verein</th>
{{/club}}
<th class="player_nationality">Nationalität</th>
<th class="player_birthyear">Geburtsjahr</th>
<th class="player_gender">Geschlecht</th>
</thead>
<tbody>
{{#players}}
<tr>
<td class="player_textid">{{textid}}</td>
<td class="player_name"><a href="{{root_path}}player/{{id}}/">{{name}}</a></td>
{{^club}}
<td class="player_club_name">{{club_name}}</td>
{{/club}}
<td class="player_nationality">{{nationality}}</td>
<td class="player_birthyear">{{birth_year}}</td>
<td class="player_gender">{{gender}}</td>
</tr>
{{/players}}
</tbody>

{{#club}}
<tfoot>
<tr><td colspan="5">
<form class="inline-form" method="post" action="{{root_path}}season/{{#season}}{{id}}{{/season}}/club/{{#club}}{{id}}{{/club}}/player_create">
{{{csrf_field}}}
<div>
<input size="12" name="firstname" required="required" placeholder="Vorname" />
<input size="12" name="lastname" required="required" placeholder="Nachname" />
</div>
<label><input type="radio" name="gender" value="m" required="required"/>männlich</label>
<label><input type="radio" name="gender" value="f" required="required"/>weiblich</label>
<input size="12" name="textid" placeholder="ID" />
<button><img src="{{icon_path}}add-player.svg" title="Neue/r Spieler/in">Neue/r Spieler/in</button>
</form>
</td></tr>
</tfoot>
{{/club}}

</table>
