{{#season}}

<h2>{{name}}</h2>

{{#is_admin}}
{{^visible}}
<div class="message_note">
Diese Liga ist derzeit nur für Administratoren sichtbar.

<form method="post" action="{{root_path}}season/{{id}}/show" class="inline-form">
{{{csrf_field}}}
<button class="season_button_hide" data-season-id="{{id}}">Anzeigen</button>
</form>
</div>
{{/visible}}
{{/is_admin}}

<h2><a href="{{root_path}}season/{{id}}/players">{{player_count}} Spieler</a></h2>

<p>
TODO: a tournament list would be nice here
</p>

{{/season}}