<table class="admin_table">
<tbody>
{{#seasons}}
<tr class="{{#visible}}season_visible{{/visible}}{{^visible}}season_invisible{{/visible}}">
<td><a href="{{root_path}}season/{{id}}/">{{name}}</a></td>
<td class="action-buttons">
{{#visible}}
<form method="post" action="{{root_path}}season/{{id}}/hide" class="inline-form">
{{{csrf_field}}}
<button>Verbergen</button>
</form>
{{/visible}}
{{^visible}}
<form method="post" action="{{root_path}}season/{{id}}/show" class="inline-form">
{{{csrf_field}}}
<button class="season_button_hide" data-season-id="{{id}}">Anzeigen</button>
</form>
{{/visible}}
</td>
</tr>
{{/seasons}}
</tbody>
<tfoot>

<tr><th colspan="2">
<form action="{{root_path}}season/create" method="post" id="season_create" class="inline-form">
{{{csrf_field}}}
<input type="text" size="12" name="name" required="required" minlength="3" placeholder="Name" />
<button><img src="{{icon_path}}add.svg" title="Neue Liga" />Neue Liga</button>
</form></th></tr>


<tr><th colspan="2">
<form action="{{root_path}}season/import" method="post" class="inline-form">
{{{csrf_field}}}
<input type="text" size="60" name="tournament_url" required="required" placeholder="http://turnier.de/sport/tournament.aspx?id=..." value="http://turnier.de/sport/tournament.aspx?id=95E4D9B3-8ECF-4B90-AC3E-3187852F20FD" />
<button>Liga importieren</button>
</form></th></tr>

</tfoot>
</table>