{{#season}}

{{#is_admin}}
{{^visible}}
<div class="message_note">
Diese Liga ist derzeit nur für Administratoren sichtbar.

<form method="post" action="{{root_path}}season/{{id}}/show" class="inline-form">
{{{csrf_field}}}
<button class="season_button_hide" data-season-id="{{id}}">Anzeigen</button>
</form>
</div>
{{/visible}}
{{/is_admin}}

<h2><a href="{{root_path}}season/{{id}}/players">{{player_count}} Spieler</a></h2>

<h2>Turniere</h2>

{{>tournament_list}}

<form action="{{root_path}}tournament/create" method="post" class="inline-form">
{{{csrf_field}}}
<input type="hidden" name="season_id" value="{{id}}" />
<input type="text" size="20" name="name" required="required" minlength="2" placeholder="Turnier-Name" value="Test-Turnier" />
<button><img src="{{icon_path}}add.svg" title="Neues Turnier" />Neues Turnier</button>
</form>

{{/season}}