<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-size: 20px;
    font-family: sans-serif;
}
.numstr {
	white-space: pre;
}
</style>
{{#tournament}}
<title>{{name}} - Meldungen</title>
</head>
<body>
<p>
MELDUNGEN {{name}} - Stand {{now_date}}:<br />

{{#disciplines}}
{{#entries_present}}
<br/>
{{name}}{{#capacity}} (max {{capacity}}){{/capacity}}:<br />
{{#note}}
({{note}})<br/>
{{/note}}

{{#entries}}
<span class="numstr">{{numstr_spaced}}</span> {{entry_name}}<br />

{{#is_team}}
{{#players}}
{{natural_name}} ({{#entry_club}}{{name}}{{/entry_club}})<br />
{{/players}}
{{/is_team}}
<br />

{{^is_team}}
{{#player}}{{natural_name}}{{/player}}
{{^player}}
(Freimeldung)
{{/player}}

{{#with_partner}}
{{#partner}}
/ {{natural_name}}
{{/partner}}
{{^partner}}
 (Freimeldung)
{{/partner}}
{{/with_partner}}

({{#player}}{{#player_club}}{{name}}{{/player_club}}{{/player}}{{^player}}Freimeldung{{/player}}{{#with_partner}}{{^same_club}}
/
{{#partner}}{{#partner_club}}{{name}}{{/partner_club}}{{/partner}}{{^partner}}Freimeldung{{/partner}}{{/same_club}}{{/with_partner}})<br />
{{/is_team}}


{{/entries}}
{{/entries_present}}
{{/disciplines}}

{{#any_empty_disciplines}}
<br/>
Bisher noch keine Meldungen in {{#disciplines}}
{{^entries_present}}
{{name}}, 
{{/entries_present}}
{{/disciplines}} aber wir nehmen jederzeit gerne Meldungen entgegen!
{{/any_empty_disciplines}}

{{/tournament}}
</p>
</body>
</html>