{{#tournament}}

{{#is_admin}}
<form method="post" action="{{root_path}}t/{{id}}/edit" class="dataentry_form">
{{{csrf_field}}}
<textarea name="description" rows="5" cols="50" placeholder="Beschreibung des Turniers">{{description}}</textarea>


<label><input type="checkbox" name="visible" {{#visible}}checked="checked"{{/visible}}/>Turnier veröffentlichen</label>

<button>Ändern</button>
</form>
{{/is_admin}}
{{^is_admin}}
TODO: Show tournament data for non-admins
{{/is_admin}}

<p>
<form class="inline-form" action="{{root_path}}t/{{#tournament}}{{id}}{{/tournament}}/entries" method="get">
<button>Alle Meldungen</button>
</form>

<form class="inline-form" method="get" action="{{root_path}}t/{{id}}/entries">
<input type="hidden" name="format" value="standalone-html" />
<button>Als HTML exportieren</button>
</form>

<form class="inline-form" method="get" action="{{root_path}}t/{{id}}/entries">
<input type="hidden" name="format" value="text" />
<button>Als Text exportieren</button>
</form>

<form class="inline-form" method="get" action="{{root_path}}t/{{id}}/entries">
<input type="hidden" name="format" value="btp" />
<button>Nach BTP exportieren</button>
</form>

</p>

{{/tournament}}