{{#tournament}}

{{#is_admin}}
<form method="post" action="{{root_path}}t/{{id}}/edit" class="dataentry_form">
{{{csrf_field}}}
<textarea name="description" rows="5" cols="50" placeholder="Beschreibung des Turniers">{{description}}</textarea>


<label><input type="checkbox" name="visible" {{#visible}}checked="checked"{{/visible}}/>Turnier veröffentlichen</label>

<label>Kosten pro Teilnehmer:&nbsp;<input type="number" name="cost" value="{{cost_value}}"/> <select name="cost_currency">
{{#cost_currencies}}
<option {{#is_current}}selected="selected"{{/is_current}} size="3" value="{{id}}">{{display}}</option>
{{/cost_currencies}}
</select></label>

<button>Ändern</button>
</form>
{{/is_admin}}
{{^is_admin}}
TODO: Show tournament data for non-admins
{{/is_admin}}

<h3>Veröffentlichungen</h3>
<table>
{{#publication}}
<tr><td>{{type}}</td><td>{{configuration}}</td></tr>
{{/publication}}
<tr><td colspan="2">
<form class="inline-form" action="{{root_path}}t/{{#tournament}}{{id}}{{/tournament}}/publication_create_dialog" method="get">
<label>Typ: <select name="type" required="required"><option value="sftp">sftp</option></select></label>

<button><img src="{{icon_path}}add.svg" title="Neue Veröffentlichung ..." /> Neue Veröffentlichung ...</button>
</form>

</td></tr>
</table>

<p>
<form class="inline-form" action="{{root_path}}t/{{#tournament}}{{id}}{{/tournament}}/entries" method="get">
<button>Alle Meldungen</button>
</form>

<form class="inline-form" action="{{root_path}}t/{{#tournament}}{{id}}{{/tournament}}/disciplines" method="get">
<button>Disziplinen</button>
</form>

<form class="inline-form" method="get" action="{{root_path}}t/{{id}}/entries">
<input type="hidden" name="format" value="standalone-html" />
<button>Als HTML exportieren</button>
</form>

<form class="inline-form" method="get" action="{{root_path}}t/{{id}}/entries">
<input type="hidden" name="format" value="text" />
<button>Als Text exportieren</button>
</form>

<form class="inline-form" method="get" action="{{root_path}}t/{{id}}/entries">
<input type="hidden" name="format" value="btp" />
<button>Nach BTP exportieren</button>
</form>

<form class="inline-form" method="get" action="{{root_path}}t/{{id}}/dialog_import">
<button>Importieren</button>
</form>


</p>

{{/tournament}}