<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-size: 20px;
    font-family: sans-serif;
}
</style>
{{#tournament}}
<title>{{name}} - Meldungen</title>
</head>
<body>
<p>
MELDUNGEN {{name}} - Stand {{now_date}}:<br />

{{#disciplines}}
{{#entries_present}}
<br/>
{{name}}:<br />

{{#entries}}
{{#player}}{{name}}{{/player}}
{{#with_partner}}
{{#partner}}
/ {{name}}
{{/partner}}
{{^partner}}
 (Freimeldung)
{{/partner}}
{{/with_partner}}

({{#player_club}}{{name}}{{/player_club}}{{#with_partner}}
/
{{#partner}}{{#partner_club}}{{name}}{{/partner_club}}{{/partner}}{{^partner}}Freimeldung{{/partner}}{{/with_partner}})<br />

{{/entries}}
{{/entries_present}}
{{/disciplines}}

{{#any_empty_disciplines}}
<br/>
Bisher noch keine Meldungen in {{#disciplines}}
{{^entries_present}}
{{name}}, 
{{/entries_present}}
{{/disciplines}} aber wir nehmen jederzeit gerne Meldungen entgegen!
{{/any_empty_disciplines}}

{{/tournament}}
</p>
</body>
</html>