<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-size: 20px;
    font-family: sans-serif;
}
h1 {margin: 10px 0 10px 0; text-align: center;}
.discipline {
    page-break-inside: avoid;
}
.discipline header {float:left;}
.discipline header h2 {margin: 0; min-width: 3.5em;}
.clear {clear: left; height: 1em;}

.today {
    margin-bottom: 0.5em;
}
.player_table {
    border-collapse: collapse;
    page-break-inside: avoid;
}
td.without_partner {
    text-align: center;
    font-style: italic;
}
.player_table th, .player_table td {
    padding: 5px 2px 5px 2px;
}
.player_table td+td, player_table th+th {
    padding-left: 10px;
}
.player_table td+td.player_name, player_table th+th.player_name {
     padding-left: 20px;
}
.player_table tbody tr:hover {
    background: #fafafa;
}
.player_table tbody tr:hover td {
    color: #000 !important;
}
.player_table td.player_club {
    color: #666;
}
.player_table tbody tr:target td {
    background: #ffe889;
}
.player_table .player_name {
    min-width: 11em;
}
.player_table .player_club {
    min-width: 10em;
}
.player_table .numstr {
    color: #666;
    text-align: right;
    min-width: 2em;
}

.note {
    margin: 0; padding: 0;
    margin-left: 5em;
    font-style: italic;
}
</style>
{{#tournament}}
<title>{{name}} - Meldungen</title>
</head>
<body>
<h1>{{name}} - Meldungen</h1>
<div class="today">Stand {{now_date}}</div>

{{#disciplines}}

<div class="discipline">
<header><h2 id="{{name_html_id}}">{{name}}</h2></header>

{{#entries_present}}
<table class="player_table">
<tbody>
{{#entries}}
<tr id="{{name_html_id}}-{{numstr}}">
<td class="numstr">{{numstr}}</td>
{{#player}}
<td class="player_name">{{natural_name}}</td>
<td class="player_club">{{#player_club}}{{name}}{{/player_club}}</td>
{{/player}}
{{#with_partner}}
{{#partner}}
<td class="player_name">{{natural_name}}</td>
<td class="player_club">{{#partner_club}}{{name}}{{/partner_club}}</td>
{{/partner}}
{{^partner}}
<td colspan="2" class="without_partner">Freimeldung</td>
{{/partner}}
{{/with_partner}}
</tr>
{{/entries}}
</tbody>
</table>
{{/entries_present}}

{{#note}}
<p class="note">{{note}}</p>
{{/note}}
<div class="clear"></div>
</div>
{{/disciplines}}

</body>
{{/tournament}}
</html>