{{#tournament}}

{{#is_admin}}
<form method="post" action="{{root_path}}t/{{id}}/edit" class="dataentry_form">
{{{csrf_field}}}
<label>Beschreibung:
<textarea name="description" rows="5" cols="40">{{description}}</textarea>
</label>

<label></label>

<label><input type="checkbox" name="visible" {{#visible}}checked="checked"{{/visible}}/>Turnier veröffentlichen</label>

<button>Ändern</button>
</form>
{{/is_admin}}
{{^is_admin}}
TODO: Show tournament data for non-admins
{{/is_admin}}

<p>
<form class="inline-form" action="{{root_path}}t/{{#tournament}}{{id}}{{/tournament}}/entries" method="get">
<button>Alle Meldungen</button>
</form>

<form method="get" action="{{root_path}}t/{{id}}/entries">
<input type="hidden" name="standalone" value="download" />
<button>Meldungen als HTML exportieren</button>
</form>
</p>

{{/tournament}}