{{#disciplines}}
<header class="discipline_name">
<h2>{{name}}</h2>
</header>
{{#entries_present}}
{{>entry_table}}
{{/entries_present}}
<div class="clear"></div>

{{/disciplines}}

<h1>Statistiken</h1>

{{#stats}}
<ul>
<li>{{entry_count}} Meldungen ({{player_count}} Athleten aus {{club_count}} Vereinen)</li>
<li>{{gold_medals}} Gold-Medaillen, {{silver_medals}} Silber-Medaillen, {{bronze_medals}} Bronze-Medaillen ({{medal_count}} Medaillen insgesamt)</li>
<li>{{certificate_count}} Urkunden</li>
</ul>

<p>
<a href="mailto:?subject={{tournament_name_urlencoded}}&{{#emails}}bcc={{.}}&{{/emails}}">E-Mail an alle Athleten</a>
</p>

{{/stats}}