html, body {
    margin: 0; padding: 0;
    font-size: 18px;
    font-family: sans-serif;
}

nav {
    position: fixed;
    left: 0;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
}
#mainnav button+button {
    margin-left: 8px;
}


#mainnav {
    top: 0;
    background: #fbfbfb;
}
#current-tournament-name {
    font-family: serif;
    margin-right: 15px;
}

.clickable, button, input[type=submit] {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
button, input[type=submit] {
    display: inline-block;
    padding: 5px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: inherit;
    display: inline-flex;
    align-items: center;
}
input, textarea {
    font-size: inherit;
}
button:hover, button:focus {
    border-color: #aaa;
}
button:active {
    border-color: #777;
}
button img {
    height: 1em;
    width: 1em;
    padding-right: 3px;
}

.dialog_container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.dialog {
    display: inline-block;
    border-radius: 2px;
    padding: 10px 10px;
}


.ui-helper-hidden-accessible { display:none; }

.club {
    padding: 5px 0 5px 10px;
}
.login input {
    font-size: 150%;
}