<!DOCTYPE html>
<html>
<head>
<meta encoding="utf-8" />
<title>Badminton tournmanent manager</title>
<link rel="stylesheet" type="text/css" href="bmtmgr.css">
</head>
<body>

<nav id="mainnav">
<span id="current-tournament-name"></span>
<button id="btn-select-tournament" title="Select tournament"><img title="Select tournament" src="icons/tournament.svg" /></button>
<button id="btn-add-player" title="Add player"><img title="Add player" src="icons/add-player.svg" /></button>
</nav>

<nav id="disciplines">
    <button data-discipline-name="all-players" id="all-players">All players</button>
    <div id="disciplines_list"></div>
    <button id="btn-new-discipline"><img src="icons/add.svg" />New discipline</button>
    <div id="disciplines_disabled"></div>
</nav>

<div id="content">
<div id="no-tournament-error" class="bgerror clickable">No tournament selected. Click to select one.</div>
</div>

<script src="lib/mousetrap.min.js"></script>
<script src="uihelpers.js"></script>
<script src="bmtmgr.js"></script>

</body>
</html>
