Login für {{name}}

<p>Hallo {{name}},</p>

<p>hier ist Dein temporäres Passwort: {{token}}</p>

<p>Du kannst auch einfach <a href="{{login_url}}">hier klicken</a>.</p>

<p>Falls Du diese E-Mail nicht angefordert hast, kannst Du sie einfach ignorieren. Solltest Du Fragen oder Anmerkungen haben, kontaktiere bitte {{support_email_address}}.</p>